.disclaimer {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 150px;
    opacity: .95;
}

.qrcode {
    width: 62%;
    margin-top: 70px;
    margin-bottom: 100px;
}

.boutus {
    width: 100%;
    opacity: .85;
}

.beastie {
    width: 100%;
    opacity: .9;
}

.crafted {
    width: 80%;
    margin-top: 5px;
}

.pi {
    width: 100%;
    opacity: .85;
    margin-top: 150px;
    margin-bottom: 200px;
}

.followalong {
    width: 100%;
    margin-top: 100px;
    opacity: .85;
}

.challenges {
    width: 100%;
    margin-top: 275px;
    opacity: .85;
}

.future {
    width: 1000px;
    opacity: .85;
}

.cranium {
    width: 60%;
    opacity: .85;
    border-radius: 30px;
}

.accordion-button {
    display:block;
    text-align: center;
    font-size: 42px;
    font-family: "Kanit", sans-serif;
    color: rgb(169, 13, 13);
    opacity: .9;
}

.bios {
    opacity: .8;
}

.techused {
    opacity: .85;
    width: 1200px;
}

.spindoctor {
    margin-top: 200px;
}