.aboutimg {
    width: 100%;
    margin-top: 150px;
}

.qrcode {
    width: 61%;
}

.boutus {
    width: 100%;
    opacity: .9;
}

.crafted {
    width: 80%;
}

.pi {
    width: 100%;
    opacity: .9;
    margin-bottom: 150px;
}
