
.check-container{
    margin-top:40px;
    margin-bottom:40px;
}

.check-img {
    width: 100%;
    border-radius: 5px;
}

.card-title {
    justify-content: space-between;
    margin-top: 25px;
}

.register {
    font-size: 10px;
    position: relative;
    bottom: 5px;
}

.cvc {
    width: 2.5em;
    position: absolute;
}

input {
    border: none;
    padding-left: 4px;
    background-color: #f7f1f1;
    font-size: 15px;
}

.card-body {
    background-color: #f7f1f1;
}


.footer-check:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}

.numbr {
    border-bottom: 1px solid #c1bcbc;
    padding-bottom: 8px;
}

.line2 {
    border-bottom: 1px solid #c1bcbc;
    padding-bottom: 8px;
    padding-left: 0px;
}

input.focus,
input:focus {
    outline: 0;
    box-shadow: none !important;
}

.numbr.numbr.hover,
.numbr:hover {
    border-bottom: 1px solid rgb(255, 0, 0);
}

.line2.hover,
.line2:hover {
    border-bottom: 1px solid rgb(255, 0, 0);
}

.fa-lock {
    margin-right: 10px;
}

.order {
    margin-top: 10px;
}