.pmain {
  margin-top: 5px;
  font-size: 38px;
}

.nav-link {
  text-align: left;
  color: rgba(0, 0, 0, 0.497);
  padding: 10px;
  height: 164px;
  font-family: 'Karla', sans-serif;
  font-size: 32px;
  font-weight: 200;
  width: 320px;
}

.nav-link:hover{
  color: rgba(255, 0, 0, 0.696);
}

.tab-content {
  margin: none;
}

.tab-pane {
  width: 1350px;
  max-width: 1400px;
}

.instruments {
  width: 55px;
  opacity: 0.7;
}

#lettercolor {
  color: rgba(255, 0, 0, 0.696);
  font-size: 34px;
  font-weight:300;
  margin-left: 5px;
}

.imgcover {
  width: 100%;
  opacity: 0.9;
  border-radius: 5px;
}


.fontp {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  font-weight: light;
}

.fontgenre {
  font-weight: bold;
  margin-left: 10px;
}

.mellowcolor {
  color: #e7b1a3;
}

#unpretcol {
  color: #3abdd4c6;
  opacity: .8;
  
}

.intnscol {
  color: #f9301e;
  opacity: .9;

}

#sophiscol {
  color: #0a232c;
}

.iconics {
  margin-top: 75px;
  opacity: .7;
  width: 150px;
}

.points {
  width: 25%;
  opacity: .9;
  margin-bottom: 50px;
  transition: transform 400ms;
}

.points:hover {
  /* transform: translateY(-80px); */
  transform: scale(1.32);
}

.check-card {
  border: none;
  margin-top: 100px;
}

.delivery {
  width: 100%;
  opacity: 1;
  border-radius: 30px;
}

.del {
  width: 23%;
  border-radius: 40px;
  margin-left: 15px;
  opacity: .9;
  margin-top: 100px;
  margin-bottom: 50px;
  transition: transform 350ms;
}

.del:hover {
  transform: translateY(-60px);
}

.spacer {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.equalizer {
  width: 50%;
  margin-top: 100px;
  opacity: .75;
}

.sub {
  width: 100%;
  margin-top: 120px;
}

.receive {
  margin-top: 10px;
  width: 700px;
}

.albumz {
  margin-top: 50px;
  width: 100%;
  margin-bottom: 25px;
}

.spotify {
  margin-top: 25px;
}

.notable {
  width: 1000px;
}