.qmain {
  height: auto;
  opacity: .8;
}

.qimg {
  width: 800px;
  border-radius: 5px;
  opacity: 0.8;
}

.qpage {
  border-radius: 5px;
  font-family: "Karla", sans-serif;
}

.question {
  margin-top: 15px;
  color: white;
  font-size: 32px;
  width: 400px;
  margin-left: 5px;
  line-height: 15px;
}

.question h3{
  font-size: 32px;
}

.startquest {
  margin-top: 200px;
}

.answer {
  margin-top: 70px;
  width: auto;
  border-radius: 10px;
  margin-right: 4px;
}

.answer2 {
  margin-top: 15px;
  border-radius: 20px;
  margin-right: 4px;
}

.ansbtnstart {
  align-items: center;
  width: 180px;
  height: 60px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

#complete {
  margin-top: 20px;
}

#startxt {
  text-align: center;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 24px;
  font-weight: 800;
}

.answerbtn {
  display: inline-flex;
  align-items: center;
  width: 375px;
  height: 70px;
  text-align: left;
  font-weight: 300;
  font-size: 16px;
}

.qp {
  background-color: #e63946;
}
.qp1 {
  background-color: #0080CE;
}
.qp2 {
  background-color: #008682;
}
.qp3 {
  background-color: #FD8C6F;
}
.qp4 {
  background-color: #6273C9;
}
.qp5 {
  background-color:#C25E84;
}
.qp6 {
  background-color:#0086B4;
}
.qp7 {
  background-color:#FFD262;
}
.qp8 {
  background-color: #D8BFD8;
}
.qp9 {
  background-color: #564148;
}
.qten {
  background-color: #6273C9;
}

.qp .ansbtnstart:hover {
  background-color: #E63946;
  color: white;
}
.qp1 .answerbtn:hover {
  background-color:#0080CE;
  color: white;
}
.qp2 .answerbtn:hover {
  background-color: #008682;
  color: white;
}
.qp3 .answerbtn:hover {
  background-color: #FD8C6F;
  color: white;
}
.qp4 .answerbtn:hover {
  background-color:#6273C9;
  color: white;
}
.qp5 .answerbtn:hover {
  background-color: #C25E84;
  color: white;
}
.qp6 .answerbtn:hover {
  background-color: #0086B4;
  color: white;
}
.qp7 .answerbtn:hover {
  background-color:#FFD262;
  color: white;
}
.qp8 .answerbtn:hover {
  background-color:#D8BFD8;
  color: white;
}
.qp9 .answerbtn:hover {
  background-color: #564148;
  color: white;
}
.qten .answerbtn:hover {
  background-color: #6273C9;
  color: white;
}

.pagecount {
  margin-top: 135px;
  font-weight: 300;
  font-size: 18px;
  color: white;
}